.bg1{
    background-color: #33CC33;
    
}

.bg2{
    background-color: #000000;
}

.bg3{
    background-color: #f0ad4e;
}

.h-zigzag { /* Horizontal */
    background-color: #f0ad4e;
    /*background:
        linear-gradient(-135deg, #f0ad4e 5px, transparent 0) 0 5px,
        linear-gradient(135deg, #f0ad4e 5px, #fff 0) 0 5px;
    background-color: #f0ad4e;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;*/
}

.h-zigzag:after {
    content: " ";
    display:block;
    position: relative;
    width: 100%;
    bottom:-20px;
    height:20px;
    background: linear-gradient(-45deg, transparent 75%, #f0ad4e 75%) 0 50%,
                linear-gradient( 45deg, transparent 75%, #f0ad4e 75%) 0 50%;
    background-repeat: repeat-x;
    background-size:20px 20px, 20px 20px;
}

.h-zigzag:before {
    content: " ";
    display:block;
    position: relative;
    width: 100%;
    top:0px;
    height:20px;
    background: linear-gradient(-45deg, transparent 75%, white 75%) 0 50%,
                linear-gradient( 45deg, transparent 75%, white 75%) 0 50%;
    background-repeat: repeat-x;
    background-size:20px 20px, 20px 20px;
}


.jumbotron{
    margin-bottom:0px;
    min-height: 6em;
    padding-top:1em;
    padding-bottom:1em;
}

.splash{
    background-image:url(../images/banner5.jpg);
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height:200px;
    text-shadow: 5px 5px 20px #444444;

}

.row{
    padding-top:.5em;
    padding-bottom:.5em;

}

.white{

    color:#EEEEEE;
}

.col-md-3 h2{
    text-align: center;
}

.page-header{
    padding-top: .5em;
}

.col-xs-6:nth-child(2n+1){
    clear:left;
}

@media (min-width:767px){
    .col-xs-6:nth-child(2n+1){
        clear:none;
    }

    .col-sm-4:nth-child(3n+1){
        clear: left;
    }
}